.background {
    background-color: #262626;
}

.center {
    display: block;
    margin-left: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-right: auto;
    width: 50%;
  }
